## ignore these files ##
interface/
*.obj
*.sln
*.sdf
*.pdb
*.ipch
Train/.idea/
Train/__pycache__/
ACAIStrategyDemo/dist/
ACAIStrategyDemo/ipch
ACAIStrategyDemo/Release
ACAIStrategyDemo/Strategy/newDebu/
ACAIStrategyDemo/Strategy/newDebug/